<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Aman Jain</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="./static/images/avatar.jpg" alt="" /></span>
						<h1>This is <strong>Aman Jain</strong> </a><br />
						IITD Chemical Engineer | Consulting | Manchester United Fan | Go Green</h1>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/amanpjain07/" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://www.instagram.com/amenyain/?hl=en" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="mailto:aman_p_jain@outlook.com" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="./static/images/fulls/NYC.jpg">
										<img src="./static/images/thumbs/NYC.jpg" alt="" />
										<h3>Brooklyn Bridge, New York</h3>
									</a>
									<a href="./static/images/fulls/Chicago.jpeg">
										<img src="./static/images/thumbs/Chicago.jpeg" alt="" />
										<h3>Chicago SkyDeck</h3>
									</a>
									<a href="./static/images/fulls/detroit.jpg">
										<img src="./static/images/thumbs/detroit.jpg" alt="" />
										<h3>Go Detroit Lions!</h3>
									</a>
									<a href="images/fulls/IIT.jpg">
										<img src="./static/images/thumbs/IIT.jpg" alt="" />
										<h3>My batchmates at IIT</h3>
									</a>
									<a href="./static/images/fulls/Amsterdam.JPG">
										<img src="./static/images/thumbs/Amsterdam.JPG" alt="" />
										<h3>One weekend well-spent in Amsterdam</h3>
									</a>
									<a href="./static/images/fulls/Salzburg.jpg">
										<img src="./static/images/thumbs/Salzburg.jpg" alt="" />
										<h3>Let's take a picture!</h3>
									</a>
								</div>
								<div>
									<a href="./static/images/fulls/lion.jpg">
										<img src="./static/images/thumbs/lion.jpg" alt="" />
										<h3>Chilling with lions in Lions Park</h3>
									</a>
									<a href="./static/images/fulls/Shanghai.jpeg">
										<img src="./static/images/thumbs/Shanghai.jpeg" alt="" />
										<h3>At the Shanghai Bund</h3>
									</a>
									<a href="./static/images/fulls/Cape.jpg">
										<img src="./static/images/thumbs/Cape.jpg" alt="" />
										<h3>Table Mountain, Cape Town</h3>
									</a>
									<a href="./static/images/fulls/archery.jpg">
										<img src="./static/images/thumbs/archery.jpg" alt="" />
										<h3>Non-office hours activities - Archery</h3>
									</a>
									<a href="./static/images/fulls/suzhou.JPG">
										<img src="./static/images/thumbs/suzhou.JPG" alt="" />
										<h3>My 2020 first and last destination - Suzhou</h3>
									</a>
								</div>
								<div>
									<a href="./static/images/fulls/jump.JPG">
										<img src="./static/images/thumbs/jump.JPG" alt="" />
										<h3>A Leap of faith</h3>
									</a>
									<a href="./static/images/fulls/Dinner.jpg">
										<img src="./static/images/thumbs/Dinner.jpg" alt="" />
										<h3>Chinese New Year in South Africa</h3>
									</a>
									<a href="./static/images/fulls/Beijing.jpg">
										<img src="./static/images/thumbs/Beijing.jpg" alt="" />
										<h3>My first international trip - Beijing</h3>
									</a>
									<a href="./static/images/fulls/IIT Football.jpg">
										<img src="./static/images/thumbs/IIT Football.jpg" alt="" />
										<h3>My IIT Football Team</h3>
									</a>
									<a href="./static/images/fulls/Zurich.jpg">
										<img src="./static/images/thumbs/Zurich.jpg" alt="" />
										<h3>One day at ETH Zurich</h3>
									</a>
									<a href="./static/images/fulls/Nue Castle.jpg">
										<img src="./static/images/thumbs/Nue Castle.jpg" alt="" />
										<h3>Hiking near Neuschwanstein Castle</h3>
									</a>
									<a href="./static/images/fulls/washington.jpg">
										<img src="./static/images/thumbs/washington.jpg" alt="" />
										<h3>US Diaries - Washington DC</h3>
									</a>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; Aman Jain</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.poptrox.min.js"></script>
			<script src="./static/assets/js/skel.min.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>
